// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Sora', 'Heveltica', 'Roboto', 'sans-serif';
$heading-font-family: 'Sora', 'Heveltica', 'Roboto', 'sans-serif';

$card-border-radius: 12px;
$sheet-border-radius: 12px;
$dialog-border-radius: 12px;
$alert-border-radius: 8px;
$btn-border-radius: 8px;
$btn-text-transform: none;
